pip==24.0
joblib==1.5.2
mlflow==3.5.1
uvloop==0.21
uvicorn==0.35.0
pandas==2.3.3
scikit_learn==1.7.2
pytest==8.4.2
dvc-gs==3.0.2
asyncssh==2.21.1
shtab==1.7.0
platformdirs==4.4.0
orjson==3.11.0
tqdm==4.67.0
sqltrie==0.11.1
six==1.16.0
amqp==5.3.0
kombu==5.5.3
gto==1.8.0
celery==5.5.2
billiard==4.2.1
dvc-task==0.40.1
dvc-objects==5.1.1
dvc-data==3.15.0
dvc==3.50.3
